// Compass imports & mixins
@import "compass"
@import "compass/reset"

=data-uri-bg($image, $properties: false)
  @if $properties != false
    background: inline-image($image) $properties
    *background: url($image) $properties
  @else
    background: inline-image($image)
    *background: url($image)

=retina-image($image, $ext, $resolution, $properties: false)
  background: url(../images/#{$image}.#{$ext}) $properties
  @media only screen and (-webkit-device-pixel-ratio: 2)
    background: url(../images/#{$image}_2x.#{$ext}) $properties
    background-size: $resolution

=animateFunc($name, $timing, $count, $timingFunc)
  animation: $name $timing
  animation-timing-function: $timingFunc

  /* Firefox */
  -moz-animation: $name $timing
  -moz-animation-iteration-count: $count
  -moz-animation-timing-function: $timingFunc

  /* Safari and Chrome */
  -webkit-animation: $name $timing
  -webkit-animation-iteration-count: $count
  -webkit-animation-timing-function: $timingFunc

  /* Opera */
  -o-animation: $name $timing
  -o-animation-iteration-count: $count
  -o-animation-timing-function: $timingFunc

@import "keyframes"

.fleximage
  max-width: 100%
  width: 100%
  height: auto

// Variable
$fontFamily: 'Cherry Swash', 'Helvetica Neue', Helvetica, Arial, Sans-Serif
$codeFont: 'Oxygen Mono', courier, Sans-Serif
$fontColor: #362920
$altColor: #f64b48
$lightColor: #b2cf53

@font-face
  font-family: 'iconic'
  src: url('../fonts/iconic.eot')
  src: url('../fonts/iconic.eot?#iefix') format('embedded-opentype'), url('../fonts/iconic.svg#iconic') format('svg'), url('../fonts/iconic.woff') format('woff'), url('../fonts/iconic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before
  font-family: 'iconic' !important
  font-style: normal
  speak: none
  font-weight: normal
  -webkit-font-smoothing: antialiased

.icon-left-quote:before
  content: "\e000"
  margin-right: 3px

.icon-right-quote:before
  content: "\e001"
  margin-left: 3px

@function bgColor($opacity)
  @return rgba(225,218,212,$opacity)

::-moz-selection
  background: $altColor
  color: #111
  text-shadow: none

::selection
  background: $altColor
  color: #111
  text-shadow: none

a
  text-decoration: none
  color: $altColor
  border-bottom: dashed 1px $altColor

  &:hover
    color: $fontColor
    border-bottom: dashed 1px $fontColor

em
  font-style: italic
  +opacity(0.8)

.highlight
  display: inline-block
  padding: 0 5px
  color: $fontColor
  background: $lightColor

.btn-centered
  margin: 30px 0
  text-align: center

.btn
  display: inline-block
  padding: 10px 25px 14px
  font-size: 2.5em
  border: 0
  color: #fff
  background: $lightColor
  +border-radius(4px)

  &:hover
    border: 0
    background: $altColor
    color: #fff

figure
  width: 68.5714%
  margin: 20px auto 30px
  text-align: center

  &.config
    width: 39.7143%

  &.compasswatch
    width: 78.5714%

  &.each
    width: 82%

  img
    @extend .fleximage
    border: solid 5px rgba(0, 0, 0, 0.6)

  figcaption
    font-size: 1.4em

body
  font-family: $fontFamily
  /* The font-size is now 0.625 * 16px = 10px. */
  font-size: 0.625em
  /* The leading is now 25 pixels. */
  line-height: 2.5em
  color: $fontColor
  background: url("../images/scribble_light.png") repeat

.sky
  width: 100%
  height: 100%
  position: fixed
  top: 0
  background: url("../images/sky-blur.png") top center repeat-x
  //background: url("../images/sky.png") top center repeat-x, url("../images/scribble_light.png") repeat
  //+retina-image("scribble_light", "png", 304px 306px, repeat)

.wrap
  max-width: 700px
  margin: 0 auto

.window
  width: 100%
  overflow: hidden

.letter
  display: inline-block
  margin: 11px 8px 0 0
  float: left
  font-size: 3.5em
  font-weight: 500

blockquote
  width: 40%
  float: left
  margin: 0 20px 20px 0
  font-size: 1.1875em
  line-height: 1.5789em
  font-style: italic

  span
    +opacity(0.6)

  &.alt
    float: right
    text-align: right
    margin: 0 0 20px 20px

h1, h2, h3
  line-height: 1

h3
  margin: 30px 0 20px
  font-size: 1.5em
  font-weight: bold
  text-align: center

h2
  text-align: center
  margin-bottom: 30px
  font-size: 3em
  font-weight: 700
