.logo
  width: 178px
  height: 177px
  margin: 30px auto
  position: relative
  +hide-text
  z-index: 2
  background: url("../images/logo.png") no-repeat

.storyline
  position: relative
  font-size: 1.6em
  line-height: 1.5em
  z-index: 2

.content
  margin-bottom: 50px

  p
    margin-bottom: 20px

.intro
  position: relative

.window
  max-width: 100%
  height: 572px
  top: 60px
  z-index: 1
  position: absolute

.clouds
  width: 1000px
  height: 572px
  position: absolute
  background: url("../images/clouds.png")
  +animateFunc(movecloud, 20s, infinite, linear)

.waterbox
  position: relative
  margin-top: 150px
  background: url("../images/water.png")

  .content
    padding: 20px 20px 20px 25px
    background: rgba(255, 255, 255, 0.7)
    +border-radius(10px)

.waves
  width: 100%
  height: 100px
  top: -100px
  position: absolute
  overflow: hidden

.wave
  width: 100%
  height: 100px
  position: relative
  z-index: 3
  background: url("../images/wave.png") 0 0 repeat-x

  &.dark
    z-index: 2
    position: absolute
    background: url("../images/wave-dark.png") repeat-x
    +animateFunc(wave, 3s, infinite, linear)

.pirate
  width: 150px
  height: 382px
  position: absolute
  z-index: 10
  +retina-image("pirate", "png", 150px 382px, no-repeat)
  +animateFunc(movepirate, 3s, infinite, linear)

.fish
  width: 100%
  height: 100%
  position: absolute
  +retina-image("fish-bg", "png", 1000px 400px, bottom center repeat)

.columns
  +column-count(2)
